@import "tailwindcss";

:root {
    --color-bg: #ffffff;
    --color-text: #3C3939;

    --font-sans: Inter, "Helvetica Neue", sans-serif;
}

html,
body {
    font-family: Inter, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.swiper {
    --swiper-pagination-bullet-inactive-color: rgba(0, 0, 0, 0.3);
    --swiper-pagination-color: rgba(0, 0, 0, 0.8);
}
