@import "tailwindcss";

:root {
    --color-bg: #ffffff;
    --color-text: #3C3939;

    --font-sans: Inter, "Helvetica Neue", sans-serif;
}

html,
body {
    font-family: Inter, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}